#DOXY
*/html/*
*/doxygen/*
rsc-1/*
*.bak
bin/reports/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.log
*.po

#udefrag specific stuff
bin/
obj/
lib/
wxgui/vc100.pdb
wxgui/wxguiMSVC.cbp
*.cscope.out
*.orig
src/release/ultradefrag-7.0.1-test1.src.7z
doc/handbook/doxy-doc/
src/dll/udefrag/html/
src/dll/zenwinx/html/
*.cscope_file_list
*.depend
*.layout
src/.vs/Supercharger/*
src/.vs/Udefrag-VS/v15/.suo
src/.vs/Udefrag-VS/v15/Browse.VC.db
src/.vs/Udefrag-VS/v15/ipch/*
src/.vs/Udefrag-VS/v15/Solution.VC.db
src/Debug/*
src/dll/udefrag/Debug/*
src/dll/zenwinx/Debug/*
src/wxgui/Debug/*
src/.vs/Udefrag-VS/v15/Browse.VC.opendb
src/.vs/Udefrag-VS/v15/Solution.VC.db-shm
src/.vs/Udefrag-VS/v15/Solution.VC.db-wal
src/dll/udefrag/Release/*.tlog
*.tlog
